<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <title>PurifyCSS + Webpack | Chris Courses Blog</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono:700" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="row align-items-center justify-content-center h100">
                <div class="col-12 text-center">
                    <div>
                        <img src="<%= require('./img/purify-css.jpg') %>" alt="Chris Courses Badge">
                    </div>
                    <h4>Resources</h4>
                    <div class="resource-links">
                        <a href="">Tutorial Blog Post</a>/<a href="">Tutorial Git Repo</a>/<a href="chriscourses.com">ChrisCourses.com</a>
                    </div>
                    <h4 class="mt20">Social</h4>
                    <div class="social-links">
                        <a href="https://www.youtube.com/c/chriscourses" target="_blank"><img src="<%= require('./img/youtube.svg') %>" alt="Chris Courses YouTube"></a>
                        <a href="https://twitter.com/chriscourses" target="_blank"><img src="<%= require('./img/twitter.svg') %>" alt="Chris Courses Twitter"></a>
                        <a href="https://www.facebook.com/chriscourses/" target="_blank"><img src="<%= require('./img/facebook.svg') %>" alt="Chris Courses Facebook"></a>
                        <a href="https://www.instagram.com/chriscourses/" target="_blank"><img src="<%= require('./img/insta.svg') %>" alt="Chris Courses Instagram"></a>
                        <a href="https://github.com/chriscourses" target="_blank"><img src="<%= require('./img/github.svg') %>" alt="Chris Courses GitHub"></a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>